.about-furnish{
    background-image: url(../images/bg_4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 650px;
    padding-top: 8em;
    overflow: hidden;
    .sub-heading{
        font-size: 13px;
        color: $gray;
        letter-spacing: 1px;
        
    }
    h2{
        color: $darkblue;
        font-size: 40px;
    }
    p{
        color: $gray;
        font-size: 18px;
        line-height: 1.7;
       
    }
    .video-play{
        width: 80px;
        height: 80px;
        background-color: #CF7500;
        border-radius: 50%;
        cursor: pointer;
       
    }
    .watch-video{
        color: #CF7500;
        cursor: pointer;
    }
    
}
