*{
    font-weight: 300;
    font-style: normal;
}
h2{
    font-size: 38px;
    color: $darkblue;
    letter-spacing: 1px;
}
.sub-heading{
    font-size: 13px;
    color: $gray;
    letter-spacing: 1px;

}