.great-reviews{
    width: 100%;
    height: 300px;
    background-color: $skyblue;
    .reviews{
        padding-top: 3em;
    }
      .caption{
        font-size: 14px;
        color: $grey;
        letter-spacing: 1px;
      }
}
   
